<h1>Listing Posts</h1>
{{outlet}}
<ul>
  {{#each}}
    <li>
      {{#link-to 'post' this}}
        {{title}},
        {{body}}
      {{/link-to}}
    </li>
  {{else}}
    <li>No Post found.</li>
  {{/each}}
</ul>